*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.article-container > h2{
    color: #22a6b3;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.article-container{
    width: 1100px;
    margin: 0 auto;
}
.blog-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}
.single-image-div {
    height: 300px;
}
.single-image-div img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}  
.single-blog{
    box-shadow: 5px 5px 7px gray;
    background-color: #f39c12;
    border-radius: 10px;
}
.single-text-div{
    padding: 30px 20px;
}
.single-text-div span{
    color: #13b1bf;
}
.single-text-div h3{
    font-size: 23px;
    margin: 20px 0;
}
.single-text-div a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: #a55eea;
    padding: 5px 8px;
    margin-top: 10px;
    border-radius: 4px;
}